<a href="https://colab.research.google.com/github/OtnielPutra/Checkpoint-1-AVD-Otniel-Putra-Wardana/blob/main/Checkpoint_1_Otniel_Putra_Wardana_2509116081.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Checkpoint 1 Fast Food Sales
Nama : Otniel Putra Wardana


NIM :2509116081

# Import Library

Import Dari Perangkat Internal (Didalam perangkat sendiri)

In [9]:
import pandas as pd

In [10]:
file = '/content/Balaji Fast Food Sales.csv'
df = pd.read_csv(file)

Import dari google drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

path = '/content/drive/MyDrive/avd/Balaji Fast Food Sales.csv'

Mounted at /content/drive

# Memuat Data

memuat data dari perangkat internal (

In [11]:
df

,order_id,date,item_name,item_type,item_price,quantity,transaction_amount,transaction_type,received_by,time_of_sale
0,1,07-03-2022,Aalopuri,Fastfood,20,13,260,NaN,Mr.,Night
1,2,8/23/2022,Vadapav,Fastfood,20,15,300,Cash,Mr.,Afternoon
2,3,11/20/2022,Vadapav,Fastfood,20,1,20,Cash,Mr.,Afternoon
3,4,02-03-2023,Sugarcane juice,Beverages,25,6,150,Online,Mr.,Night
4,5,10-02-2022,Sugarcane juice,Beverages,25,8,200,Online,Mr.,Evening
...,...,...,...,...,...,...,...,...,...,...
995,996,3/19/2023,Frankie,Fastfood,50,10,500,NaN,Mrs.,Evening
996,997,9/20/2022,Sandwich,Fastfood,60,7,420,NaN,Mr.,Evening
997,998,1/26/2023,Sandwich,Fastfood,60,13,780,NaN,Mr.,Evening
998,999,8/27/2022,Panipuri,Fastfood,20,5,100,NaN,Mrs.,Afternoon
999,1000,5/29/2022,Aalopuri,Fastfood,20,3,60,Online,Mrs.,Midnight

Memuat data dari google drive

In [ ]:
df = pd.read_csv(path)
df

,order_id,date,item_name,item_type,item_price,quantity,transaction_amount,transaction_type,received_by,time_of_sale
0,1,07-03-2022,Aalopuri,Fastfood,20,13,260,NaN,Mr.,Night
1,2,8/23/2022,Vadapav,Fastfood,20,15,300,Cash,Mr.,Afternoon
2,3,11/20/2022,Vadapav,Fastfood,20,1,20,Cash,Mr.,Afternoon
3,4,02-03-2023,Sugarcane juice,Beverages,25,6,150,Online,Mr.,Night
4,5,10-02-2022,Sugarcane juice,Beverages,25,8,200,Online,Mr.,Evening
...,...,...,...,...,...,...,...,...,...,...
995,996,3/19/2023,Frankie,Fastfood,50,10,500,NaN,Mrs.,Evening
996,997,9/20/2022,Sandwich,Fastfood,60,7,420,NaN,Mr.,Evening
997,998,1/26/2023,Sandwich,Fastfood,60,13,780,NaN,Mr.,Evening
998,999,8/27/2022,Panipuri,Fastfood,20,5,100,NaN,Mrs.,Afternoon
999,1000,5/29/2022,Aalopuri,Fastfood,20,3,60,Online,Mrs.,Midnight

# Business Understanding

Business Objective :

Dataset ini menceritakan keseharian operasional dari sebuah gerai makanan cepat saji bernama Balaji Fast Food. Masalah yang sering dihadapi oleh usaha seperti ini adalah menebak-nebak menu mana yang sebenarnya paling menguntungkan dan kapan waktu yang tepat untuk menyiapkan stok lebih banyak. Tanpa melihat data, pemilik mungkin hanya fokus pada menu yang sering dipesan tanpa menyadari ada menu lain yang nilai transaksinya lebih besar. Jadi, tujuan kita di sini adalah mencari tahu "pola sukses" dari penjualan mereka agar bisnis bisa lebih efisien, tidak ada bahan baku yang terbuang, dan keuntungan bisa maksimal.

Assess Situation :    

Jika kita mengintip kondisi datanya, dataset ini sudah cukup oke karena mencatat 1.000 transaksi secara detail, mulai dari jenis makanan hingga jam penjualannya. Namun, ada beberapa "tantangan" yang harus kita bereskan dulu. Misalnya, ada beberapa kolom seperti metode pembayaran yang datanya kosong atau hilang. Selain itu, cara penulisan tanggalnya masih berantakan karena ada dua format berbeda yang tercampur. Kalau tidak kita rapikan, nanti analisis tren bulanan atau tahunannya bisa salah hitung.

Analytic Goals :    

Untuk menjawab tantangan tersebut, kita akan melakukan beberapa hal. Pertama, kita akan memetakan jam-jam sibuk atau "jam emas" toko agar pemilik tahu kapan harus mengerahkan tenaga ekstra. Kedua, kita akan membedah performa setiap menu untuk melihat siapa "juara" penjualannya, baik dari sisi jumlah yang laku maupun total uang yang masuk. Terakhir, kita juga akan melihat bagaimana kebiasaan pelanggan dalam membayar (pakai tunai atau online), supaya operasional kasir bisa disesuaikan dengan tren tersebut.

Project Plan :    

Rencana kita dimulai dengan tahap "berkenalan" dulu dengan datanya untuk melihat semua keanehan yang perlu diperbaiki. Setelah itu, kita masuk ke tahap "bersih-bersih" untuk menyeragamkan tanggal dan mengisi data yang bolong agar hasilnya akurat. Jika sudah bersih, barulah kita mulai mengolah data untuk menghitung angka-angka penting dan membuat grafik yang mudah dibaca. Langkah terakhirnya adalah menyulap angka-angka tersebut menjadi saran praktis yang bisa langsung dipakai oleh pemilik toko untuk mengembangkan bisnisnya.